
*{
  padding: 0;
  margin: 0 auto;
}

.App {
  width: 100%;
  text-align: center;
  background-image: url('../src/imgs/fondo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.seccion{
  margin-top: 4rem;
}

.seccion > div img{
  width: 200px;
}

.seccionImg{
  width: 40%;
}

.seccionInfo{
  width: 60%;
  text-align: left;
  font-size: 20px;
  padding: 0rem 1rem;
}

.CpediTuPresupuesto{
  position: relative;
  width: 100%;
}

.CpediTuPresupuesto h2{
  position: absolute;
  font-size: 35px;
  color:white;
  bottom: 60px;
  left: 33%;
  right: 33%;
}

